.hero-image{
    height: 768px;
    width: 100%;
}

header{
    background-color: #6E0D25;
    color: white;
    font-size: 40px;
    height: 256px;
    text-align: center;
    width: 100%;
}

header nav{
    padding-top: 108px;
}

header a{
    text-align: center;
    padding: 0 28px;
    display: inline;
}

header a:link{
    color: white;
    font-size: 40px;
    text-decoration: none;
}

header a:visited{
    color: white;
    font-size: 40px;
    text-decoration: none;
}

@keyframes nav_menu {
    0%   {background-color: white;}
    25%  {background-color: white;}
    50%  {background-color: #6E0D25;}
    100% {background-color: #6E0D25;}
  }
  
header a:hover{
    background-color: white;
    border-radius: 8px;
    color: #6E0D25;
    cursor: pointer;
    animation-name: nav_menu;
    animation-duration: 4s;
}

h2{
    color: #5DA031;
    font-size: 48px;
}

section{
    padding: 40px 0;
    text-align: center;
    height: 768px;
    width: 100%;
}

.section-in-half{
    width: 100%;
    height: 280px;
}

#section_timeline{
    width: 100%;
    height: 880px;
}

#quienes_somos{
    padding-top: 40px;
    display: inline-flex;
    margin: 0px 120px;
}

#img_quienes_somos{
    height: 480px;
    padding-right: 88px;
    width: 640px;
    border-radius: 80px;
}

#text_quienes_somos{
    display: inline-block;
    color: #5DA031;
    font-size: 28px;
    padding: 140px 0;
}

.alianzas{
    height: 280px;
    width: 400px;
    display: inline;
    padding: 40px 88px 0 0;
}

#timeline{
    height: 100%;
    width: 100%;
}

#impactos{
    margin-bottom: 80px;
}

#impactos > h1{
    color: #5DA031;
    display: inline-block;
    font-size: 72px;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

#evidencias{
    height: 640px;
    background-color: #6E0D25;
    padding-bottom: 80px;
}

.christmas_sock{
    height: 80px;
    width: 80px;
}

.info_contacto{
    font-size: 40px;
    display: inline;
    padding: 0 80px;
}

#contacto{
    height: 360px;
}

#contacto > h2{
    padding-bottom: 8px;
}

footer{
    background-color: #6E0D25;
    padding-top: 8px;
    width: 100%;
}

#logo_footer{
    height: 108px;
    text-align: center;
}

.social_media{
    padding-top: 8px;
    height: 40px;
    width: 40px;
}

body{
    margin: 0;
    width: 100%;
}

.datos_impactos{
    color: #6E0D25;
}

#text_quienes_somos{
    color: #6E0D25;
    text-align: justify;
}
